<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Heart disease prediction</title>
</head>
<body>
<h1>Heart disease Prediction</h1>
<form action="heart_disease_result">
    Age <input type="text" name="age" required><br>
    Sex <input type="text" name="sex" required><br>
    CP <input type="text" name="cp" required><br>
    trestbps <input type="text" name="trestbps" required><br>
    Chol <input type="text" name="chol" required><br>
    FBS <input type="text" name="fbs" required><br>
    Restecg <input type="text" name="restecg" required><br>
    Thalach <input type="text" name="thalach" required><br>
    Exang <input type="text" name="exang" required><br>
    Oldpeak <input type="text" name="oldpeak" required><br>
    Slope <input type="text" name="slope" required><br>
    CA <input type="text" name="ca" required><br>
    Thal <input type="text" name="thal" required><br>


    <input type="submit"><br>
    <hr>
    <a href="home">click here to ho back</a>

</form>
</body>
</html>
